.main {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(240, 242, 245);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 440px;
  height: auto;
  padding: 20px;
  margin-bottom: 48px;

  .title-line {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    user-select: none;

    .icon {
      width: 64px;
      height: 64px;
      border-radius: 12px;
      background-image: url('~$assets/logo.svg');
      background-size: 100% 200%;
      background-position: center center;
    }

    .title {
      color: rgb(0, 0, 0);
      font-size: 36px;
      font-weight: bold;
      line-height: 40px;
      text-align: center;
      padding-left: 5px;
    }
  }

  .titleHint {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.45);
    margin-top: 12px;
    padding-bottom: 40px;
    user-select: none;
    text-align: center;
  }

  .form {
    width: 100%;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 32px 32px 16px;
    background-color: rgb(255, 255, 255);

    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      background-color: rgb(255, 255, 255);
      border-radius: 12px;

      & > div {
        width: 100%;
      }
    }

    &-input {
      border-radius: 12px;
      background-color: rgb(255, 255, 255);
      box-shadow: 0 4px 8px rgba(192, 192, 192, 0.1);

      & > span {
        & > span {
          border-radius: 12px;
        }
      }
    }

    &-submit {
      border-radius: 12px;
      width: 100%;
    }
  }
}
